.product-card {
    font-family: Roboto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    border-color: #5555;
    
}

.product-image {
    width: 300px;
    height: 300px;
    object-fit: contain; 
}

.description-button-wrapper {
    display: flex;
    flex: column;
    justify-content: space-between;
}