.map-style {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8% 0 0 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.map-box {
    width: 210px;
    display: flex;
    flex-direction: column;
}
.map-direction-button {
    display: flex;
    justify-content: space-between;
}

.map-directions-clear {
display: flex;
justify-content: center;
}

.map-input {
    width: 320px;
    padding: 5px 20px;
    border-radius: 30px;
    margin: 3px;
    border-color: #e5e3e3ec;
    border-style:solid;
    font-family: 'Manrope', sans-serif;
}

.mapbox-results {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
}