.map-style {
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 5% 0;
}

.modal-container {
    transform: translate(-50%, -50%);
    width: 10%;
    margin-top: 30%;
    margin-left: 20%;
    background-color: white;
}
.map-box {
    width: 210px;
}

