@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.basket-container {
padding: 5%;
}

.trash-can-icon {
    cursor: pointer;
}

.empty-basket {
    padding-top: 10%;
    padding-left: 10%;
}

.basket-title {
    font-family: 'Bebas Neue', cursive;
    padding-top: 1.5%;
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.basket-button {
display: flex;
justify-content: center;
align-items: center;
}