@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&display=swap');


.title {
    display: flex;
    justify-content: center;
    font-family: Lobster;
    font-size: 60px;
    padding-bottom: 15px;
}

.switch-button {
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 10px;
   all: unset;
   font-family: Cabin;
}

.switch-button:hover {
    cursor: pointer;
    color: rosybrown;
}

.logo {
    width: 70%;
    object-fit: contain;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.login-container {
    padding-bottom: 4%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.register-container {
    padding-top: 3%;
    width: 40%;
    padding-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
 
.login-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.register-box {
display: flex;
flex-direction: row;
width: 100%;
}

.side-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image {
    flex: 1;
    height: 100vh;
}