.food-button {
    width: 20px;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    position: fixed;
    background-color: #ffc8dd;
    width: 50px;
    border-radius: 5px;
    z-index: 20;
    transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.open {
    width: 200px;
}

.toggle-button {
    margin: 10px 0px 0px 10px;
    background-color: transparent;
    border: none;
}

.button-open {
    background-color: transparent;
    border: none;
    width: 50px;
   
}
.sidebar-container {
    display: flex;
    flex-direction: column;
}

.sidebar-items {
    margin-top: 20px;
}

  
  

  